/* * {
  background-color: rgb(209, 205, 205);
} */
.App {
  display: flex;
  justify-content: center;
  align-items: center;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: red;
}
